.form {
    width: 700px;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  radial-gradient(#c845f7 0.75px, transparent 0.75px), radial-gradient(#c845f7 0.75px, #e5e5f7 0.75px);
    background-size: 30px 30px;
    background-position: 0 0,15px 15px;
}